---
import BoxIcon from "./BoxIcon"
---

<section class='social section'>
  <h2 class='section-title'>SOCIAL</h2>

  <div class="social__container bd-grid">
    <a class="social__link" target="_blank" href="https://www.linkedin.com/in/danyelis-coronel-7751a246/">
      <BoxIcon classAlt="social__icon" l="l" name="linkedin-square" /> @dancoronel
    </a>
    <a class="social__link" target="_blank" href="https://www.facebook.com/anais.pereira.963">
      <BoxIcon classAlt="social__icon" l="l" name="facebook-square" /> Anais Pereira
    </a>
    <a class="social__link" target="_blank" href="https://www.instagram.com/anais.pereira.963/?hl=es-la">
      <BoxIcon classAlt="social__icon" l="l" name="instagram-alt" /> @anais.pereira.963  
    </a>
  </div>
</section>




